form {
    /* border: 1px solid black; */
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.form-element {
    /* border: 1px solid black; */
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    position: relative;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border: none;
    border-radius: 5px;
    padding: 1rem;
    color: var(--input-color);
}
.form-element input {
    flex: 1;
    background-color: var(--text-bg);
}

.form-element label {
    font-size: 3rem;
    margin-right: 1rem;
    color: var(--icon-color);
}

.form-element select {
    flex: 0 0 20%;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    background-color: var(--text-bg);
    margin-right: 1rem;
    color: var(--input-color);
}
.form-element p {
    background-color: var(--text-bg);
    padding: 1rem;
    width: 100%;
    border-radius: 5px;
}

.form-element label.address-label {
    font-size: 1.6rem;
    text-transform: uppercase;
    background-color: var(--text-bg);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 1rem;
    width: 25%;
    margin: 0;
    border-right: 1px solid #ddd;
    color: var(--input-color);
    font-weight: bold;
}

.form-element .delete-item {
    cursor: pointer;
    color: hsl(0deg 0% 96%);
    color: #333;
    position: absolute;
    right: 0;
    padding: 0.5rem;
    font-size: 2rem;
}
.form-element .delete-item:hover {
    font-size: 2.1rem;
}

.address input {
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.15rem;
}

.form-element textarea {
    width: 100%;
    border: 0;
    border-radius: 5px;
    background-color: var(--text-bg);
}
input,
select,
textarea {
    outline: none;
}
